---
---

@import "{{ site.theme }}";
/* Cambiar el color de fondo */
body {
    background-color: #f8f9fa;
    color: #6e7380; // Cambia este color al que prefieras para el texto normal
}

/* Cambiar el color de las cabeceras */
h1, h2, h3 {
    color: #6c717e;
}
