---
---

@import "{{ site.theme }}";
/* Estilo del contenedor del menú */
.top-menu {
    position: fixed;
    top: 0;
    left: 0; /* Asegura que el menú comience desde el borde izquierdo */
    width: 100vw; /* Asegura que el menú ocupe todo el ancho de la ventana */
    background-color: #4a4a4a; /* Fondo del menú */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra debajo del menú */
    z-index: 10; /* Mantiene el menú encima del contenido */
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
}

/* Estilo de los enlaces del menú */
.top-menu .menu-item {
    color: #ffffff; /* Color del texto */
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 15px;
    transition: all 0.6s ease; /* Transición suave */
    white-space: nowrap; /* Evita que los enlaces se dividan en varias líneas */
}

/* Efecto hover en los enlaces del menú */
.top-menu .menu-item:hover {
    background-color: #4a4a4a; /* Fondo al pasar el ratón ORIGINAL #555 */
    color: #8cb541; /* Color del texto al pasar el ratón */
    border-radius: 10px; /* Bordes redondeados */
    transform: scale(1.1); /* Ampliación suave al pasar el ratón */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Cambiar el color de fondo */
body {
    padding-top: 80px; /* Ajusta este valor según la altura del menú */
    margin: 0; /* Elimina cualquier margen en el body */
    background-color: #F0F0E9;
    color: #6e7380; // Cambia este color al que prefieras para el texto normal
}

/* Cambiar el color de las cabeceras */
h1, h2, h3 {
    color: #6c717e;
}

/* Cambiar el color de las negritas */
strong, b {
    color: #6d727f; /* Cambia #555555 al color que prefieras para el texto en negrita */
    font-weight: bold; /* Mantiene el peso de la negrita */
}

/* Cambiar el color del título en el encabezado si es un enlace */
a, .site-title a {
    color: #719898; /* Cambia esto al color deseado */
}

a:hover, .site-title a:hover {
    color: #557272; /* Cambia esto al color deseado para el hover */
}
