---
---

@import "{{ site.theme }}";
/* Estilo para centrar el contenido del sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto del título y la descripción */
}

/* Ajuste del tamaño y estilo de la imagen del logo */
.sidebar img[alt="logo"] {
    width: 120px; /* Ajusta el tamaño de la imagen del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Redondea la imagen si deseas */
    margin-bottom: 15px; /* Espacio entre el logo y el título */
}

/* Estilo del título y descripción */
.sidebar h1, .sidebar .site-title {
    font-size: 1.8em; /* Tamaño del título */
    margin: 0; /* Elimina el margen superior e inferior */
    color: #333; /* Color del título */
}

.sidebar .site-description {
    font-size: 1em; /* Tamaño de la descripción */
    color: #666; /* Color de la descripción */
    margin-top: 5px; /* Espacio entre el título y la descripción */
}
/* Estilo del contenedor del menú */
.top-menu {
    position: fixed;
    top: 0;
    left: 0; /* Asegura que el menú comience desde el borde izquierdo */
    width: 100vw; /* Asegura que el menú ocupe todo el ancho de la ventana */
    background-color: #4a4a4a; /* Fondo del menú */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra debajo del menú */
    z-index: 10; /* Mantiene el menú encima del contenido */
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
}

/* Estilo de los enlaces del menú */
.top-menu .menu-item {
    color: #ffffff; /* Color del texto */
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 15px;
    transition: all 0.6s ease; /* Transición suave */
    white-space: nowrap; /* Evita que los enlaces se dividan en varias líneas */
}

/* Efecto hover en los enlaces del menú */
.top-menu .menu-item:hover {
    background-color: #4a4a4a; /* Fondo al pasar el ratón ORIGINAL #555 */
    color: #8cb541; /* Color del texto al pasar el ratón */
    border-radius: 10px; /* Bordes redondeados */
    transform: scale(1.1); /* Ampliación suave al pasar el ratón */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Cambiar el color de fondo */
body {
    padding-top: 80px; /* Ajusta este valor según la altura del menú */
    margin: 0; /* Elimina cualquier margen en el body */
    background-color: #F0F0E9;
    color: #6e7380; // Cambia este color al que prefieras para el texto normal
}

/* Cambiar el color de las cabeceras */
h1, h2, h3 {
    color: #6c717e;
}

/* Cambiar el color del título en el encabezado si es un enlace */
a, .site-title a {
    color: #719898; /* Cambia esto al color deseado */
}

a:hover, .site-title a:hover {
    color: #557272; /* Cambia esto al color deseado para el hover */
}
